/* Stylesheet for signup page */
/* Full-width inputs */
input[type=logintext], input[type=password], input[type=confirmpasswd], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #e0e0e0;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#submitButton {
    background-color: #2392e8;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Add a hover effect for buttons */
#submitButton:hover {
    opacity: 0.8;
}

/* Add padding to signup container */
div.signupcontainer {
    background: #549bd1a4;
    border-radius: 25px;
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.leftcolumn {
    float: left;
    width: 50%;
    padding: 10px;
}

.rightcolumn {
    float: right;
    width: 50%;
    padding: 10px;
}