/* Style Our policies Button */
#OurPoliciesButton {
  background-color: #0b78d1;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  opacity: 0.9;
  margin: 20px auto 70px auto;
}

/* Style WannaBeModeratorButton Button */
#WannaBeModeratorButton {
  background-color: #0b78d1;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  opacity: 0.9;
  margin: 0px auto 70px auto;
}

/* Style Questions and Answers Button */
#QAButton {
  background-color: #0b78d1;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  opacity: 0.9;
  margin: 0px auto 30px auto;
}

/* hover style for the 3 buttons */
#OurPoliciesButton:hover, #WannaBeModeratorButton:hover, #QAButton:hover{
background-color: #ccc;
transition: 0.3s;
}

/* content of the modal of the buttons */
.titleHP {
  font-size: 24px;
  padding: 20px 26px;
  font-family: "Times New Roman", Times, serif;
}

.questionHP {
  font-size: 20px;
  padding: 0px 26px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.answerHP {
  font-size: 18px;
  padding: 0px 30px;
  font-family: "Times New Roman", Times, serif;
}

.scrollModal {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.closeButton {
  position:absolute;
  right: 20px;
  top:0px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-color: transparent;
}

#logoHelpPage {
  text-align:center;
  vertical-align:middle; 
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
}


/*  Modal background -> popup background when we click on a button */

.modalBackground {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(71,78,93,0.85);
  padding-top: 50px;
}


.modalContent {
  background-color: white;
  margin: 5% auto 15% auto;
  border-radius: 5px;
  width: 50%;
}