/* Stylesheet for resultpage */
h1 {
    margin-top: 10%;
    text-align: center;
    color: #25acdc;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;

}

#loginErrorText {
    text-align: center;
}

#loginSuccessText {
    margin-top: 11%;
    text-align: center;
}