<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title of the page -->
  <!-- TODO: add a title for the page -->
  <title>Admin Page - Academi-co</title>

  <!-- Useful scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/ui-bootstrap-tpls.min.js"></script>
  <script src="js/ng-grid.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>

<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

  <!-- Imported Stylesheet CSS dependencies TODO: put them in correct folder -->
  <!--<link rel="stylesheet" href="CSS/bootstrap.min.css" />
  <link rel="stylesheet" href="CSS/ng-grid.min.css" />
-->

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <!-- Our stylesheet -->
  <!--<link rel="stylesheet" type="text/css" href="CSS/style-header.css"/>-->
  <link rel="stylesheet" type="text/css" href="CSS/style-header.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-body.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-footer.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-resize.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-searchbar.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-signInUp.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-administratorPage.css"/>

  <!-- Our Scripts TODO: add your personal js here -->
  <script src="js/modules/allModules.js"></script>
  <script src="js/modules/getRESTCall.js"></script>
  <script src="js/controllers/script-searchbar.js"></script>
  <script src="js/controllers/script-signInUp.js"></script>
  <script src="js/modules/script-administratorpage.js"></script>

  <!-- To have correct caracters for accented letters for example -->
  <meta charset="UTF-8">

  <!-- This is for the Responsive Website -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<!-- This body is the container for all the content -->
<body class="body" ng-app="academi-co">
  <!-- - - - - - - - - - - - - - -  Header: Navigation bar at the top  - - - - - - - - - - - - - - -->
  <header class='mainheader' ng-include="'header.html'"></header>
  <footer class="footer" ng-include="'footer.html'"></footer>
   <!-- - - - - - - - - - - - - - -  Content  - - - - - - - - - - - - - - -->
   <!-- Not Displayed elements -->
 <!-- Modal for Manage Banners -->
 <div id="ManageBannersContent" class="modalBackground" method="post" enctype="multipart/form-data">
 	<button class="closeButton" onclick="document.getElementById('ManageBannersContent').style.display='none'">&times;</button>
 	<form class="modalContent">
 		<h2 id="textManageAd">Manage Advertisement Banners</h2>
 		<hr>
 		<h4 id="textAddBanner">
 		Add New Banner</h2>
 		<!-- Add Banner -->
 		<div>
 			<label for="profile_pic" class="BrowseButton">Choose Ad</label>
 			<input type="file" id="profile_pic" name="profile_pic" class="DefaultBrowseButton" accept=".jpg, .jpeg, .png">
 			<button id="UploadBannerButton">Upload Ad</button>
 			<br>
 			<hr>
 		</div>

 		<!-- Active Banner -->
 	</form>
 </div>
 <!-- End Modal for Manage Banners -->
 <!-- Modal for Add Administrator -->
 <div id="AddAdministratorContent" class="modalBackground">
 	<button class="closeButton" onclick="document.getElementById('AddAdministratorContent').style.display='none'">&times;</button>
 	<form class="modalContent">
 		<h2 id="textCreateAdmin">Create Administrator</h2>
 		<br>
 		<input type="text" class="inputUsernameAdminAdd" name="UsernameEntry" placeholder="Username" required>
 		<br>
 		<input type="email" class="inputEmailAdminAdd" name="EmailEntry" placeholder="Email" required>
 		<br>
 		<br>
 		<br>
 		<input id="CreateAdminButton" type="submit" class="CreateAdminButton" onclick="document.getElementById('AddAdministratorContent').style.display='none'" value="Create Admin">
 		<br>
 		<br>
 	</form>
 </div>
 <!-- End modal for Add Administrator -->
 <!-- END Not Displayed elements -->
 <!-- Displayed elements -->
 <div style="text-align:center">
 	<button id="ManageBanners"  type="button" class="buttonAdmin" onclick="document.getElementById('ManageBannersContent').style.display='block'">Manage Banners</button>
 	<button id="AddAdministrator"  type="button" class="buttonAdmin" onclick="document.getElementById('AddAdministratorContent').style.display='block'">Add Administrator</button>
 </div>
 <!-- END Displayed elements -->
 <!--BEGIN Manage Moderators and Requests -->
 <div class="container-fluid">
 	<div class="w3-center">
 		<div class="col-md-6" ng-controller="demoController as demo">
 			<h3>Moderator requests</h3>
 			<table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="demo.tableForm" disable-filter="demo.isAdding" demo-tracked-table="demo.tableTracker">
 				<colgroup>
 					<col width="95%" />
 					<col width="5%" />
 					<col width="0%" />
 					<col width="0%" />
 				</colgroup>
 				<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
 					<td title="'Name'" filter="{name: 'text'}" sortable="'name'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
 						<span ng-switch-default class="editable-text">{{row.name}}</span>
 						<div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
 							<input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
 						</div>
 					</td>
 					<td>
 						<button class="btn btn-primary btn-sm" ng-click="demo.add(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-ok"></span></button>
 						<button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
 					</td>
 				</tr>
 			</table>
 		</div>
 		<div class="col-md-6" ng-controller="demoController as demo">
 			<h3>Actual Moderators</h3>
 			<table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="demo.tableForm" disable-filter="demo.isAdding" demo-tracked-table="demo.tableTracker">
 				<colgroup>
 					<col width="100%" />
 					<col width="0%" />
 					<col width="0%" />
 					<col width="0%" />
 				</colgroup>
 				<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
 					<td title="'Name'" filter="{name: 'text'}" sortable="'name'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
 						<span ng-switch-default class="editable-text">{{row.name}}</span>
 						<div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
 							<input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
 						</div>
 					</td>
 					<td>
 						<button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
 					</td>
 				</tr>
 			</table>
 		</div>
 	</div>
 </div>
 <!--END Manage Moderators and Requests -->
  <!-- - - - - - - - - - - - - - -  Footer  - - - - - - - - - - - - - - -->



</body>

</html>
