<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title of the page -->
  <!-- TODO: add a title for the page -->
  <title>Moderators Page - Academi-co</title>

  <!-- Useful scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/ui-bootstrap-tpls.min.js"></script>
  <script src="js/ng-grid.min.js"></script>


  <!-- Imported Stylesheet CSS dependencies TODO: put them in correct folder -->
  <!--<link rel="stylesheet" href="CSS/bootstrap.min.css" />
  <link rel="stylesheet" href="CSS/ng-grid.min.css" />
-->

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <!-- Our stylesheet -->
  <!--<link rel="stylesheet" type="text/css" href="CSS/style-header.css"/>-->
  <link rel="stylesheet" type="text/css" href="CSS/style-header.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-body.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-footer.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-resize.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-searchbar.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-signInUp.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-moderatorspage.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-searchbar.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

  <!-- Our Scripts TODO: add your personal js here -->
  <script src="js/modules/allModules.js"></script>
  <script src="js/modules/getRESTCall.js"></script>
  <script src="js/controllers/script-searchbar.js"></script>
  <script src="js/controllers/script-signInUp.js"></script>

  <!-- To have correct caracters for accented letters for example -->
  <meta charset="UTF-8">

  <!-- This is for the Responsive Website -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<!-- This body is the container for all the content -->
<body class="body" ng-app="academi-co">
  <!-- - - - - - - - - - - - - - -  Header: Navigation bar at the top  - - - - - - - - - - - - - - -->
  <header class='mainheader' ng-include="'header.html'"></header>
   <!-- - - - - - - - - - - - - - -  Content  - - - - - - - - - - - - - - -->


   <div class="w3-container w3-content" style="width:auto;margin-top:auto">
   	<!-- The Grid -->
   	<div style="margin-top:30%">
   		<div class="w3-row">
   			<div ng-app="academi-co" ng-controller="profilePageLoad">
   				<!--     Left Column -->
   				<div class="w3-col m3">
   					<!--       Profile -->
   					<div class="w3-card w3-round w3-white">
   					</div>
   					<br>
   					<div class="w3-card w3-round">
   						<div class="w3-white">
   						</div>
   					</div>
   					<br>
   					<!--     End Left Column -->
   				</div>
   				<!--     Middle Column -->
   				<div class="w3-col m7">
   					<!-- Biography of the user -->
   					<div class="w3-row-padding">
   						<div class="w3-col m12">
   						</div>
   					</div>
   				</div>
   				<!-- Central column after MyPosts -->
   				<div class="w3-container w3-card w3-theme-l5 w3-round w3-margin">
   					<h1><b>Flagged users</b></h1>
   					<!-- thread/posts -->
   					<div class="w3-container w3-card w3-white w3-round w3-margin" ng-repeat="post in myProfileData.posts" >
   						<br>
   						<br>
   						<img ng-src="data:image/JPEG;base64,{{post.profilePic}}" alt="Avatar" class="w3-left w3-margin-right" style="width:60px">
   						<h4>{{post.author}} <button class="tag ban w3-right">Ban user</button> </h4>
   						<br>
   					</div>
   					<!--     End Middle Column -->
   				</div>
   				<div class="w3-container w3-content" style="width:auto;margin-top:auto">
   					<!-- The Grid -->
   					<div class="w3-row">
   						<div ng-app="academi-co" ng-controller="profilePageLoad">
   							<!--     Left Column -->
   							<div class="w3-col m3">
   								<!--       Profile -->
   								<div class="w3-card w3-round w3-white">
   								</div>
   								<br>
   								<div class="w3-card w3-round">
   									<div class="w3-white">
   									</div>
   								</div>
   								<br>
   								<!--     End Left Column -->
   							</div>
   							<!--     Middle Column -->
   							<div class="w3-col m7">
   								<!-- Biography of the user -->
   								<div class="w3-row-padding">
   									<div class="w3-col m12">
   									</div>
   								</div>
   							</div>
   							<!-- Central column after MyPosts -->
   							<br>
   							<div class="w3-container w3-card w3-theme-l5 w3-round" style="width:100%;margin-top:auto;">
   								<h1><b>Flagged posts</b></h1>
   								<!-- thread/posts -->
   								<div class="w3-container w3-card w3-white w3-round w3-margin" ng-repeat="post in myProfileData.posts" >
   									<br>
   									<br>
   									<img ng-src="data:image/JPEG;base64,{{post.profilePic}}" alt="Avatar" class="w3-left w3-margin-right" style="width:60px">
   									<span class="w3-right w3-opacity">1 min</span>
   									<h4>{{post.author}}<button class="tag ban w3-right">Delete Post</button></h4>
   									<br>
   									<div class="content">
   										<!-- score -->
   										<hr>
   										<div style="width:5%; float:right">
   											<span style="color:gray"><i class="glyphicon glyphicon-upload"></i></span>
   											<br> {{post.score}}
   											<br>
   											<span style="color:gray"><i class="glyphicon glyphicon-download"></i></span>
   										</div>
   									</div>
   									<!-- Posts -->
   									<div id="post" class="w3-row-padding" style="width:90%; float:left" >
   										<!-- this is not displayed if it is a reply (ng-if) -->
   										<div id="postTitle" ng-if= post.title>
   											<p><b>{{post.title}}</b> </p>
   										</div>
   										<p>{{post.content}}</p>
   										<!-- Tags -->
   										<!-- this is not displayed if it is a reply (ng-if) -->
   										<div class="w3-row-padding" style="margin:0 -16px" ng-if= post.title>
   											<hr style="height: 2px; color: #A9A9A9; background-color: #A9A9A9; width: 100%; border: none;">
   											<button class="tag maintag">{{post.subject}}</button>
   											<button class="tag secondarytag" ng-repeat="topic in post.topics">{{topic.name}}</button>
   										</div>
   										<br>
   									</div>
   								</div>
   								<!--     End Middle Column -->
   							</div>
   						</div>
   					</div>
   				</div>
   			</div>
   			<!--     Right Column -->
   			<div class="w3-col m2">
   				<div class="w3-container">
   				</div>
   				<br>
   				<!--     End Right Column -->
   			</div>
   			<!-- End Page Container -->
   		</div>
   		<br>
   	</div>
   </div>
   <!--     End Left Column -->
   </div>
   <!--     Middle Column -->
   <div class="w3-col m7">
   </div>
   <!--     End Middle Column -->
   </div>
   <!--     Right Column -->
   <div class="w3-col m2">
   	<div class="w3-container">
   	</div>
   	<br>
   	<br>
   	<!--     End Right Column -->
   </div>


  <!-- - - - - - - - - - - - - - -  Footer  - - - - - - - - - - - - - - -->
  <footer class="footer" ng-include="'footer.html'"></footer>



</body>

</html>
