<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title of the page -->
  <!-- TODO: add a title for the page -->
  <title>Thread Page - Academi-co</title>

  <!-- Useful scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/ui-bootstrap-tpls.min.js"></script>
  <script src="js/ng-grid.min.js"></script>

  <!-- for text area formatted -->
  <script src="//js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<!-- <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas)</script> -->

  <!-- Imported Stylesheet CSS dependencies TODO: put them in correct folder -->
  <!--<link rel="stylesheet" href="CSS/bootstrap.min.css" />
  <link rel="stylesheet" href="CSS/ng-grid.min.css" />
-->

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <!-- Our stylesheet -->
  <!--<link rel="stylesheet" type="text/css" href="CSS/style-header.css"/>-->
  <link rel="stylesheet" type="text/css" href="CSS/style-header.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-body.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-footer.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-resize.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-searchbar.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-signInUp.css"/>

  <link rel="stylesheet" type="text/css" href="CSS/style-resize-ad.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-profilePage.css"/>
  <link rel="stylesheet" type="text/css" href="CSS/style-threadPage.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

  <!-- Our Scripts TODO: add your personal js here -->
  <!--<script src="js/modules/allModules.js"></script>
  <script src="js/modules/getRESTCall.js"></script>
-->
<script src="js/modules/allModules.js"></script>
<script src="js/modules/getRESTCall.js"></script>
<script src="js/controllers/script-searchbar.js"></script>
<script src="js/controllers/script-signInUp.js"></script>

  <!-- To have correct caracters for accented letters for example -->
  <meta charset="UTF-8">

  <!-- This is for the Responsive Website -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<!-- This body is the container for all the content -->
<body class="body" ng-app="academi-co">
  <!-- - - - - - - - - - - - - - -  Header: Navigation bar at the top  - - - - - - - - - - - - - - -->
    <header class='mainheader' ng-include="'header.html'"></header>
   <!-- - - - - - - - - - - - - - -  Content  - - - - - - - - - - - - - - -->


   <div class="w3-container w3-content" style="width:auto;margin-top:auto">

   <!-- The Grid -->
   <div class="w3-row"  >

   <!--     Middle Column -->
   <!-- TODO: ASLAM WORK HERE -->
   <div class="w3-col m7 " style="width:100%;">
   <!-- <p style="text-align:center;"><img src="images/logo2.png" style="height:70px;width:450px" alt="Logo2"></p> -->
   <br>
   <!--       <a href="https://www.bally.ch/de_ch/home/" target="_blank"> -->
   <img src="images/forgoodui.jpg" class='topAd' alt="Advertisement" style="width:800px; height:200px; margin-left:70px">
   <!--       </a> -->
   <div ng-controller="threadLoad">
      <div class="w3-container w3-card w3-theme-l5 w3-round w3-margin ">
         <br>
         <!-- Show MainTag et Secondary tag -->
         <div class="w3-row-padding" style="margin:0 -12px">
            <button class="tag maintag">{{thread.subject.name}}</button>
            <button class="tag secondarytag" ng-repeat="topic in thread.topics">{{topic.name}}</button>
         </div>
         <!-- Show Thread -->
         <h3>
         {{thread.title}}
         </h3>
         <hr>
         <img ng-src="data:image/JPEG;base64,{{thread.author.profilePicture.data}}" alt="Avatar" class="w3-left w3-margin-right" style="width:60px">
         <span class="w3-right w3-opacity">{{thread.creationDate | date:"dd/MM/yyyy 'at' h:mma"}}</span>
         <h4>{{thread.author.username}}</h4>
         <br>
         <!-- <div class="container" ng-app="app" ng-controller="Main" style="text-align: right; ">  -->
         <div style="width:5%; float:right">
            <div class="content">
               <like href="#" ng-click="doLike()">
                  <i class="glyphicon" ng-class="(light1 == 1)? 'glyphicon glyphicon-circle-arrow-up' : 'glyphicon glyphicon-upload'"></i>
               </like>
               <br>
               <!--       <span ng-model="like.votes">{{like.votes}}</span> -->
               <!-- TODO: use ng-count -->
               <span>{{thread.score}}</span>
               <br>
               <dislike href="#" ng-click="doDislike()">
                  <i class="glyphicon" ng-class="(light2 == 1) ? 'glyphicon glyphicon-circle-arrow-down' : 'glyphicon glyphicon-download'"></i>
               </dislike>
            </div>
         </div>
         <p>{{thread.content}}</p>
         <br>
         <!-- Show list of answers -->
         <div class=" w3-container w3-card w3-white w3-round w3-margin" ng-repeat="answer in thread.answers" >
            <br>
            <img ng-src="data:image/JPEG;base64,{{answer.author.profilePicture.data}}" alt="Avatar" class="w3-left w3-margin-right" style="width:40px">
            <span class="w3-right w3-opacity">{{answer.creationDate |  date:"dd/MM/yyyy 'at' h:mma"}}</span>
            <h5>{{answer.author.username}} </h5>
               <!--         <div class="container" ng-app="app" ng-controller="Main" style="text-align: right; "> -->
               <div class="content">
                  <hr>
                  <div style="width:5%; float:right">
                     <span style="color:gray"><i class="glyphicon glyphicon-upload"></i></span>
                     <br>
                     <!-- TODO: use ng-count -->
                     {{answer.score}}
                     <br>
                     <span style="color:gray"><i class="glyphicon glyphicon-download"></i></span>
                  </div>
                  <div style="width:95%; float:left">
                     <p>{{answer.content}}</p>
                  </div>
                  </div>


            <!--         <img src="images/fakeprofilepic3.jpg" alt="Avatar" class="w3-left w3-margin-right" style="width:40px"> -->
            <!--         <span class="w3-right w3-opacity">Today 14:37</span> -->
            <!--         <h5>Jennifer Aniston -->
            <!--         <div class="container" ng-app="app" ng-controller="Main" style="text-align: right; "> -->
            <!--   <div class="content"> -->
            <!-- <span style="color:gray"><i class="glyphicon glyphicon-upload"></i></span> -->
            <!--       <br>     -->
            <!--       -2 -->
            <!--     <br> -->
            <!-- <span style="color:gray"><i class="glyphicon glyphicon-download"></i></span> -->
            <!--   </div> -->
            <!--   </div></h5> -->
            <!--         <hr> -->
            <!--         <p>Wich version of matlab are you using ? There's a new function for partial derivations that is faster than diff in the 2017 version of matlab</p> -->
            <!--         <hr style="height: 3px; color: #A9A9A9; background-color: #A9A9A9; width: 100%; border: none;"> -->
            <!--         <hr> -->
            </div>
            <br>
            <!-- THERE START THE FAKE OF A POST -->
            <!-- <div id="foo" class=" w3-container w3-card w3-white w3-round w3-margin" style="visibility: hidden"><br> -->
            <!--          <img src="images/fakeprofilepic1.jpg" alt="Avatar" class="w3-left w3-margin-right" style="width:40px"> -->
            <!--         <span class="w3-right w3-opacity">1 min</span>  -->
            <!--         <h5>Brad Pitt         -->
            <!--   <div class="content"> -->
            <!-- <hr> -->
            <!-- <div style="width:5%; float:right"> -->
            <!-- <span style="color:gray"><i class="glyphicon glyphicon-upload"></i></span> -->
            <!--       <br>     -->
            <!--       0 -->
            <!--     <br> -->
            <!-- <span style="color:gray"><i class="glyphicon glyphicon-download"></i></span> -->
            <!-- </div> -->
            <!-- <div style="width:95%; float:left"> -->
            <output id="output"></output>
            <script>
               function toggle(anId)
               {
               	node = document.getElementById(anId);
               	if (node.style.visibility=="hidden")
               	{
               		// Contenu caché, le montrer
               		node.style.visibility = "visible";
               		node.style.height = "auto";			// Optionnel rétablir la hauteur
               	}
               	else
               	{
               		// Contenu visible, le cacher
               		node.style.visibility = "hidden";
               		node.style.height = "0";			// Optionnel libérer l'espace
               	}
               }
            </script>
            <!-- THERE STOPS THE FAKE OF A POST -->
         </div>
           <div class="w3-left"><br><br>
      <div style="background-color:white;width:100.0%;">
      <textarea rows="20" cols="100" type="text" id="userInput" style="resize:none;"></textarea>
    </div>
        </div>
 <input type="submit" value="Submit" id="popUpYes" style="width: 200px; height:40px; hover:gray;"><br><br><br><br><br><br>
      <br>
  <!--     End Left Column -->
</div><br><br><br>
</div>

   <!--     End Middle Column -->
   <!--     Right Column -->
   <div class="w3-col m2">
      <div class="w3-card w3-center pub">
         <!--       <a href="https://www.rolex.com" target="_blank"> -->
         <img src="images/adRightChicken.jpg" alt="Add" style="width:200px; height:700px;">
         <!--       </a> -->
      </div>
      <br>
      <!--     End Right Column -->
   </div>
</div>
</div>

  <!-- - - - - - - - - - - - - - -  Footer  - - - - - - - - - - - - - - -->
<footer class="footer" ng-include="'footer.html'"></footer>


</body>

</html>
