<!DOCTYPE html>
<html data-ng-app="persons">
<head>


<title>Thread Page</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <script src="lib/dependencies/angular.min.js"></script>
    <script src="lib/dependencies/angular-resource.min.js"></script>
    <script src="lib/dependencies/jquery.min.js"></script>
    <script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/dependencies/ng-grid.min.js"></script>

    <script src="script/person.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
/* html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif} */
</style>
</head>
<body class="w3-theme-l4">

<!-- Navbar -->

<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-xlarge">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home">Home</i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Dashboard"><i class="fa fa-globe"></i>Dashboard</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i>Inbox<span class="w3-badge w3-right w3-small w3-green">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">Someone commented your thread: "What is the..."</a>
      <a href="#" class="w3-bar-item w3-button">Someone upvoted your thread: "How to make flat bread"</a>
      <a href="#" class="w3-bar-item w3-button">Someone asked a question with the tag "Maths"</a>
    </div>
  </div>

 <div>
 
  <a href="http://localhost:8080/academi-co/profilepage.html#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="images/fakeprofilepic1.jpg" style="height:29px;width:29px" alt="Avatar">
  </a>
 </div>
<a href="#" class="w3-bar-item w3-button  w3-hide-small w3-padding-large w3-hover-white" title="New Post"><i class="fa fa-plus"></i></a>
<a href="#" class="w3-bar-item w3-button  w3-hide-small w3-padding-large w3-hover-white" title="Search"><i class="fa fa-search"></i></a>
   <div>
     <a href="#" class="w3-bar-item w3-display-hover w3-button w3-hide-small w3-right w3-padding-large w3-hover-blue" title="My Account">
    <img src="images/logo.png" style="height:30px;width:190px" alt="Logo">
  </a>
  </div>
</div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
<!--     Left Column -->
    <div class="w3-col m3">
    </div>
<!--     End Left Column -->
   
<!--     Middle Column -->
     <div class="w3-col m7 otherpositions">
          <p style="text-align:center;"><img src="images/logo2.png" style="height:70px;width:450px" alt="Logo2"></p>
      <br>


<!--       <a href="https://www.bally.ch/de_ch/home/" target="_blank"> -->
         <img src="images/fakeAdTop.jpg" alt="Add" style="width:800px; height:130px;">
<!--       </a> -->


      
<div class="w3-container w3-card w3-theme-l5 w3-round w3-margin "><br>
          <div class="w3-row-padding" style="margin:0 -16px">
            <button class="tag maintag">Mathematics</button>
            <button class="tag secondarytag">Partial Derivations</button>
			<button class="tag secondarytag">Matlab</button>
			<button class="tag secondarytag">Integrals</button>
        </div>
        <hr>
        <img src="images/fakeprofilepic1.jpg" alt="Avatar" class="w3-left w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">23/05/2017 9:42</span>
        <h4>Brad Pitt</h4>
<div class="container" ng-app="app" ng-controller="Main" style="text-align: right; ">
  <div class="content">

      <like href="#" ng-click="doLike()">
       <i class="glyphicon" ng-class="(light1 == 1)? 'glyphicon glyphicon-circle-arrow-up' : 'glyphicon glyphicon-upload'"></i>
        </like> 
    <br>    
      <span ng-model="like.votes">{{like.votes}}</span>
    <br>
       <dislike href="#" ng-click="doDislike()">
       <i class="glyphicon" ng-class="(light2 == 1) ? 'glyphicon glyphicon-circle-arrow-down' : 'glyphicon glyphicon-download'"></i>
    </dislike>
    
  </div>
</div>        
        <hr class="w3-clear">
        <p><b>Does anyone know how to do partial derivations in matlab ?</b><p>
        <p>I'm looking for a function that does partial derivations so I can use them for some integrals in matlab. Thanks for helping</p>
<div class="w3-container w3-card w3-white w3-round w3-margin  "><br>

              <img src="images/fakeprofilepic2.jpg" alt="Avatar" class="w3-left w3-margin-right" style="width:40px">
        <span class="w3-right w3-opacity">Today 13:42</span> 
        <h5>Angelina Jolie        
        <div class="container" ng-app="app" ng-controller="Main" style="text-align: right; ">
  <div class="content">
  
<span style="color:gray"><i class="glyphicon glyphicon-upload"></i></span>
      <br>    
      3
    <br>
<span style="color:gray"><i class="glyphicon glyphicon-download"></i></span>

  </div>
  </div>
		</h5>
        <hr>
        <p>Hi, try the documentation using help command of matlab, the function is called diff(f,x) as I remember</p>
        <hr style="height: 3px; color: #A9A9A9; background-color: #A9A9A9; width: 100%; border: none;">
        <img src="images/fakeprofilepic3.jpg" alt="Avatar" class="w3-left w3-margin-right" style="width:40px">
        <span class="w3-right w3-opacity">Today 14:37</span>
        <h5>Jennifer Aniston
        <div class="container" ng-app="app" ng-controller="Main" style="text-align: right; ">
  <div class="content">
  
<span style="color:gray"><i class="glyphicon glyphicon-upload"></i></span>
      <br>    
      -2
    <br>
<span style="color:gray"><i class="glyphicon glyphicon-download"></i></span>

  </div>
  </div></h5>
        <hr>
        <p>Wich version of matlab are you using ? There's a new function for partial derivations that is faster than diff in the 2017 version of matlab</p>
        <hr style="height: 3px; color: #A9A9A9; background-color: #A9A9A9; width: 100%; border: none;">
        <hr>
</div>
<h2 id="ctl00_ctl00_MC_AMC_PostEntryObj_NewEntryHeading" class="contrast1-color">Answer this thread:</h2>


<input name="ctl00$ctl00$MC$AMC$PostEntryObj$CustomValidationHook" type="text" id="ctl00_ctl00_MC_AMC_PostEntryObj_CustomValidationHook" style="display:none" />


<div class="container-post new-message">

	<div class="inline">
		
		<p id="AjaxSubmitErrors" class="error callout" style="display:none"></p>
	

		<a name="PostContent"></a>
		
		<div class="clearfix">
            
<div id="EditWrap" style="position:relative">
	<table id="ctl00_ctl00_MC_AMC_PostEntryObj_Content_EditContainer" cellpadding="0" cellspacing="0" class="container-editor">
	<tr valign="top">
		<td style="padding-right:15px;width:100%">
		<textarea name="ctl00$ctl00$MC$AMC$PostEntryObj$Content$MessageText" id="ctl00_ctl00_MC_AMC_PostEntryObj_Content_MessageText" class="resizable text-editor" style="width:1000px;height:200px;"></textarea>
		
        
	</td>
	</tr>
</table>


</div>

</div>
    
      </div>
      </div>
      </div>
      </div>    
<!--     End Middle Column -->
   
     
<!--     Right Column -->
    <div class="w3-col m2">



      <div class="w3-card w3-center pub">
<!--       <a href="https://www.rolex.com" target="_blank"> -->
         <img src="images/fakeAdRight.png" alt="Add" style="width:200px; height:700px;">
<!--       </a> -->


      </div>
      <br>
      
      
<!--     End Right Column -->
    </div>

<!-- End Page Container -->
</div>
<br>
</div>
<!-- Footer -->
     <div class="w3-dropdown-hover w3-hide-small">
       <button class="w3-button w3-padding-large w3-blue-gray w3-hover-gray" title="Language">Language</button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block w3-white " style="width:300px">
      <a href="#" class="w3-bar-item w3-button">English</a>
    </div>
     </div>
      <p><a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-info-circle"> Help page</i></a></p>
<footer class="w3-container w3-theme-d5">
  <p><h2>&emsp; &emsp; &emsp; Academi-co &copy; All Rights Reserved</span> <span class="tab">Powered by SoftAware </span></h2></p>
</footer>


</body>
</html> 