<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="all">
	<alternatives>
<!-- 		<class>services.tags.FakeTagService</class> -->
<!-- 		<class>services.documentsManager.FakeDocumentService</class> -->
<!-- 		<class>services.content.FakePostService</class> -->
<!-- 		<class>services.content.FakeUserService</class> -->
	</alternatives>
</beans>
