<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>academi-co-Service-RS</display-name>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>academi-co-realm</realm-name>
		<form-login-config>
			<form-login-page>/pages/loginForm.html</form-login-page>
			<form-error-page>/pages/loginError.html</form-error-page>
		</form-login-config>
	</login-config>

	<error-page>
        <error-code>403</error-code>
        <location>/pages/forbidden.html</location>
    </error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/pages/notFound.html</location>
	</error-page>

	<error-page>
        <error-code>500</error-code>
        <location>/pages/internalServerError.html</location>
    </error-page>

	<security-role>
		<description/>
		<role-name>REGISTERED</role-name>
	</security-role>
	<security-role>
		<description/>
		<role-name>MODERATOR</role-name>
	</security-role>
	<security-role>
		<description/>
		<role-name>ADMINISTRATOR</role-name>
	</security-role>



	<security-constraint>
		<display-name>Unprotected Services</display-name>
		<web-resource-collection>
			<web-resource-name>Unprotected Posts Services</web-resource-name>
			<url-pattern>/resources/posts/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Unprotected Users Services</web-resource-name>
			<url-pattern>/resources/users/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Unprotected Advertisements Services</web-resource-name>
			<url-pattern>/resources/advertisements/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Unprotected Tags Services</web-resource-name>
			<url-pattern>/resources/tags/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Unprotected Search Services</web-resource-name>
			<url-pattern>/resources/search/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<display-name>Users Rest Facade</display-name>
		<web-resource-collection>
			<web-resource-name>Posts Services</web-resource-name>
			<url-pattern>/resources/posts/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Users Services</web-resource-name>
			<url-pattern>/resources/users/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Token Services</web-resource-name>
			<url-pattern>/resources/auth/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>REGISTERED</role-name>
			<role-name>MODERATOR</role-name>
			<role-name>ADMINISTRATOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Moderators Rest Facade</display-name>
		<web-resource-collection>
			<web-resource-name>Post Service</web-resource-name>
			<url-pattern>/resources/posts/*/ban</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>MODERATOR</role-name>
			<role-name>ADMINISTRATOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Administrators Rest Facade</display-name>
		<web-resource-collection>
			<web-resource-name>Users Services</web-resource-name>
			<url-pattern>/resources/users/*/administrator</url-pattern>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Advertisements Services</web-resource-name>
			<url-pattern>/resources/advertisements/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Advertisements GET Services</web-resource-name>
			<url-pattern>/resources/advertisements/all</url-pattern>
			<http-method>GEt</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Tags Services</web-resource-name>
			<url-pattern>/resources/tags/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Demo Services</web-resource-name>
			<url-pattern>/resources/demo/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMINISTRATOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>



	<security-constraint>
		<display-name>Users Realm</display-name>
		<web-resource-collection>
			<web-resource-name>Login</web-resource-name>
			<url-pattern>/pages/login.html</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Login Success</web-resource-name>
			<url-pattern>/pages/loginSuccess.html</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Settings Preferences</web-resource-name>
			<url-pattern>/pages/settingsPreferences.html</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Post Thread</web-resource-name>
			<url-pattern>/pages/postThread.html</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>REGISTERED</role-name>
			<role-name>MODERATOR</role-name>
			<role-name>ADMINISTRATOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Moderators Realm</display-name>
		<web-resource-collection>
			<web-resource-name>Moderation</web-resource-name>
			<url-pattern>/pages/moderation.html</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>MODERATOR</role-name>
			<role-name>ADMINISTRATOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<display-name>Administrators Realm</display-name>
		<web-resource-collection>
			<web-resource-name>Administration</web-resource-name>
			<url-pattern>/pages/administration.html</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMINISTRATOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>



	<session-config>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

</web-app>
