<!-- Title of the page -->
<!-- <title>Administrator - Academi-co</title> -->

<!-- Include JS scripts-->
<script src="/academi-co/js/controllers/domain.js"></script>
<script src="/academi-co/js/controllers/cookieController.js"></script>


<!-- Include CSS stylesheet-->
<link rel="stylesheet" type="text/css" href="CSS/style-administratorPage.css"/>


<!-- Content of the page -->

<!-- Script for login -->
<script>
	/* 
		This script checks if there is a token, if there is. 
		We are in the page.
		If not, we redirect to loginSuccess who will get the token
	*/
	if((getCookie('tokenJWT') == null) || (getCookie('tokenJWT') == '')){
		window.location.replace(getProtectedURL("loginSuccess"));
	}
</script>

<!-- Not Displayed elements -->

<!-- Modal for Manage Banners -->
<div id="ManageBannersContent" class="modalBackground" style="display:none;">
	<button class="closeButton" onclick="document.getElementById('ManageBannersContent').style.display='none'">&times;</button>
	<form class="modalContent">
		<h2 id="textManageAd">Manage Advertisement Banners</h2>
		<hr>
		<h4 id="textAddBanner">Add New Banner</h4>
		<!-- Add Banner -->
		<div>
			<label for="profile_pic" class="BrowseButton">Choose Ad</label>
			<input type="file" id="profile_pic" name="profile_pic" class="BrowseButton" accept=".jpg, .jpeg, .png" style="z-index:-1" ng-model="NewAd.data"></input>
			<button id="UploadBannerButton" onclick="GrowlAdBanner()"  ng-click="AddBanner()" >Upload Ad</button>
			<!--  			HERE IS THE ID OF THE ENCODED IMAGE -->
<!-- 			  			<p id="b64"></p>  -->
			<br>
			<hr>
		</div>
		<script type="text/javascript" src="js/modules/script-administratorpage.js"></script>
		<script type="text/javascript" src="js/modules/script-growl.js"></script>
		<!-- Active Banner -->
	</form>
</div>
<!-- End Modal for Manage Banners -->

<!-- Modal for Add Administrator -->
<div id="AddAdministratorContent" style="display:none;" class="modalBackground">
	<button class="closeButton" onclick="document.getElementById('AddAdministratorContent').style.display='none'">&times;</button>
	<form name="addAdministratorForm" class="modalContent">
		<h2 id="textCreateAdmin">Create Administrator</h2>
		<br>
		<strong>Username: </strong> <br>
		<input type="text" id="inputUsernameAdminAdd" name="UsernameEntry" placeholder="Username" ng-model="admin.username" required>
		<br>
		<strong>E-mail: </strong> <br>
		<input type="email" id="inputEmailAdminAdd" name="EmailEntry" placeholder="Email" ng-model="admin.email" required>
		<br>
		<strong>Password: </strong> <br>
		<input type="password" id="inputPasswordAdminAdd" name="PasswordEntry" placeholder="Password" ng-model="admin.password" required>
		<br>
		<br>
		<br>
		<input id="CreateAdminButton" type="submit" class="CreateAdminButton" ng-click="AddAdministrator()" ng-disabled="addAdministratorForm.$invalid$" value="Create Admin">
		<br>
		<br>
	</form>
</div>
<!-- End modal for Add Administrator -->

<!-- Modal for Add MainTag -->
<div id="AddMainTagContent" style="display:none;" class="modalBackground">
	<button class="closeButton" onclick="document.getElementById('AddMainTagContent').style.display='none'">&times;</button>
	<form name="addMainTagForm" class="modalContent">
		<h2 id="textCreateMainTag">Create primary tag</h2>
		<br>
		<strong>Primary Tag: </strong> <br>
		<input type="text" id="MainTagAdd" name="MainTagEntry" placeholder="Primary Tag" ng-model="MainTag.name" required>
		<br>
		<br>
		<br>
		<input id="CreateMainTagButton" type="submit" class="CreateMainTagButton" ng-click="AddMainTag()" ng-disabled="addMainTagForm.$invalid$" value="Create MainTag">
		<br>
		<br>
	</form>
</div>
<!-- End modal for Add Tag -->

<!-- Modal for Add MainTag -->
<div id="AddSecondTagContent" style="display:none;" class="modalBackground">
	<button class="closeButton" onclick="document.getElementById('AddSecondTagContent').style.display='none'">&times;</button>
	<form name="addSecondTagForm" class="modalContent">
		<h2 id="textCreateSecondTag">Create secondary tag</h2>
		<br>
		<strong>Secondary Tag: </strong> <br>
		<input type="text" id="SecondTagAdd" name="SecondTagEntry1" placeholder="Second Tag name" ng-model="SecondTag.name" required>
		<br>
		<strong>Id of primary Tag: </strong> <br>
		<input type="text" id="SecondTagAddID" name="SecondTagEntry2" placeholder="Second Tag id" ng-model="SecondTag.relatedMainTag" required>
		<br>
		<br>
		<br>
		<input id="CreateSecondTagButton" type="submit" class="CreateSecondTagButton" ng-click="AddSecondTag()" ng-disabled="addSecondTagForm.$invalid$" value="Create SecondTag">
		<br>
		<br>
	</form>
</div>
<!-- End modal for Add Tag -->

<!-- Modal for Add LangTag -->
<div id="AddLangTagContent" style="display:none;" class="modalBackground">
	<button class="closeButton" onclick="document.getElementById('AddLangTagContent').style.display='none'">&times;</button>
	<form name="addLangTagForm" class="modalContent">
		<h2 id="textCreateLangTag">Create language tag</h2>
		<br>
		<strong>Language Tag: </strong> <br>
		<input type="text" id="LangTagAdd" name="LangTagEntry" placeholder="Lang Tag" ng-model="LangTag.name" required>
		<br>
		<br>
		<br>
		<input id="CreateLangTagButton" type="submit" class="CreateLangTagButton" ng-click="AddLangTag()" ng-disabled="addLangTagForm.$invalid$" value="Create LangTag">
		<br>
		<br>
	</form>
</div>
<!-- End modal for Add Tag -->

<!-- END Not Displayed elements -->


<!-- Displayed elements -->
<div style="text-align:center">
	<button id="ManageBanners"  type="button" class="buttonAdmin" onclick="document.getElementById('ManageBannersContent').style.display='block'">Manage Banners</button>
	<button id="AddAdministrator"  type="button" class="buttonAdmin" onclick="document.getElementById('AddAdministratorContent').style.display='block'">Add Administrator</button>
    <button id="AddMainTag"  type="button" class="buttonAdmin" onclick="document.getElementById('AddMainTagContent').style.display='block'">Add primary tag</button>
    <button id="AddSecondTag"  type="button" class="buttonAdmin" onclick="document.getElementById('AddSecondTagContent').style.display='block'">Add secondary tag</button>
    <button id="AddLangTag"  type="button" class="buttonAdmin" onclick="document.getElementById('AddLangTagContent').style.display='block'">Add language tag</button>
</div>
<!-- END Displayed elements -->

<!--BEGIN Manage Moderators and Requests -->
<!-- <div class="container-fluid">
	<div class="w3-center">
		<div class="col-md-6" ng-controller="demoController as demo">
			<h3>Moderator requests</h3>
			<table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="demo.tableForm" disable-filter="demo.isAdding" demo-tracked-table="demo.tableTracker">
				<colgroup>
					<col width="95%" />
					<col width="5%" />
					<col width="0%" />
					<col width="0%" />
				</colgroup>
				<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
					<td title="'Name'" filter="{name: 'text'}" sortable="'name'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
						<span ng-switch-default class="editable-text">{{row.name}}</span>
						<div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
							<input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
						</div>
					</td>
					<td>
						<button class="btn btn-primary btn-sm" ng-click="demo.add(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-ok"></span></button>
						<button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6" ng-controller="demoController as demo">
			<h3>Actual Moderators</h3>
			<table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="demo.tableForm" disable-filter="demo.isAdding" demo-tracked-table="demo.tableTracker">
				<colgroup>
					<col width="100%" />
					<col width="0%" />
					<col width="0%" />
					<col width="0%" />
				</colgroup>
				<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
					<td title="'Name'" filter="{name: 'text'}" sortable="'name'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
						<span ng-switch-default class="editable-text">{{row.name}}</span>
						<div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
							<input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
						</div>
					</td>
					<td>
						<button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
 -->
