<!-- Title of the page -->
<!-- <title>Settings - Academi-co</title> -->

<!-- Include JS scripts-->
<script src="/academi-co/js/controllers/domain.js"></script>
<script src="/academi-co/js/controllers/cookieController.js"></script>

<!-- Include CSS stylesheet-->

<!-- Script for login -->
<script>
	/* 
		This script checks if there is a token, if there is. 
		We are in the page.
		If not, we redirect to loginSuccess who will get the token
	*/
	if((getCookie('tokenJWT') == null) || (getCookie('tokenJWT') == '')){
		window.location.replace(getProtectedURL("loginSuccess"));
	}

</script>

<!-- Content of the page -->


<div class="w3-container w3-content" style="width:auto;margin-top:auto">
        <!-- The Grid -->
        <div class="w3-row">
            <!--     Left Column -->
            <div class="w3-col m3">
                <!--       Profile -->
                <div class="w3-card w3-round w3-white">

                </div>
                <br>
                <div class="w3-card w3-round">
                   <div class="w3-white">
                   </div>
                </div>
                <br>
                <!--     End Left Column -->
            </div>
            <!--     Middle Column -->
            <div class="w3-col m7">
                <!-- Biography of the user -->
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                    </div>
                </div>
            </div>
            <div class="w3-container w3-left w3-round w3-margin">
                <form name="settingsForm">
                    <h3><b>Preferences:</b></h3>
                    <br>
                    <h5><b>My bio:</b></h5>
                    <textarea rows="4" cols="50" id="userInput" style="resize:none;" ng-model="change.bio"></textarea>
                    <br><br><br><br>
                    <h3><b>Settings:</b></h3>
                    <br>
                    <!-- <h5>New username:</h5>
                    <input type="text" name="username"><br><br><br> -->
                    <h5>Change password:</h5>
                    <!-- <p>Actual password:</p>
                    <input type="text" name="actualpassword"><br><br><br> -->
                    <p>New password:</p>
                    <input type="password" name="newpassword" ng-model="change.password"><br><br><br>
                    <p>Repeat new password:</p>
                    <input id="repeatPasswordSettings" type="password" name="repeatpassword"><br><br><br>
                    <h5>New profile picture:</h5>
                    <input type="file" id="profile_pic" name="profile_pic" class="DefaultBrowseButton" accept=".jpg, .jpeg, .png"></input><br><br><br>
                    <input type="submit" value="Submit" id="popUpYes" style="width: 200px; height:40px;" ng-click="settingsUpdate()"><br><br><br>
                </form>
<!--      <form name="addAdministratorForm" class="modalContent"> -->
<!-- 		<h2 id="textCreatePreferences">Preferences:</h2> -->
<!-- 		<br> -->
<!-- 		<strong>My bio:</strong> <br> -->
<!-- 		<textarea rows="4" cols="50" id="userBio" style="resize:none;" name="BioEntry" placeholder="Bio" ng-model="user.bio" ></textarea> -->
<!-- 		<br> -->
<!-- 		<h2 id="textCreateSettings">Settings:</h2> -->
<!-- 		<br> -->
<!-- 		<strong>New username: </strong> <br> -->
<!-- 		<input type="text" id="inputNewUsername" name="UserNameEntry" placeholder="NewUsername" ng-model="user.username" required> -->
<!-- 		<br> -->
<!--         <h5>Change password:</h5> -->
<!-- 		<strong>New Password: </strong> <br> -->
<!-- 		<input type="newpassword" id="inputNewPasswordAdminAdd" name="NewPasswordEntry" placeholder="NewPassword" ng-model="user.password" required> -->
<!-- 		<br> -->
<!-- 		<br> -->
<!-- 		<br> -->
<!-- 		<label for="profile_pic" class="BrowseButton">New profile picture: </label> -->
<!-- 			<input type="file" id="profile_pic" name="profile_pic" class="BrowseButton" accept=".jpg, .jpeg, .png" style="z-index:-1" ng-model="user.profilePicture"></input> -->
<!-- 		<button id="CreateSettings" type="submit"  ng-click="SetSettings()" ng-disabled="addAdministratorForm.$invalid$" value="Set Settings">Submit</button> -->
<!-- 		<br> -->
<!-- 		<br> -->
<!-- 			<!--  			HERE IS THE ID OF THE ENCODED IMAGE --> 
<!-- <!-- 			  			<p id="b64"></p>  --> 
<!-- 	</form> -->
                <!--  HERE IS THE ID OF THE ENCODED IMAGE -->
                <!--  			<p id="b64"></p> -->
                <!--     End Middle Column -->
                <script type="text/javascript" src="js/modules/script-settingsPreferences.js"></script>
            </div>
        </div>
        <!--     Right Column -->
        <div style="position: absolute; top: 200px; left: 1900px; width: 240px;">
            <br>
            <br>
            <!--     End Right Column -->
        </div>
        <div class="w3-container w3-margin">
            <img src="images/forgoodui.jpg" alt="Add" style="left: 30%; width:800px; height:200px;"></img>
            <br>
            <br>
            <br>
            <br>
        </div>
        <!-- End Page Container -->
    </div>
    <br>
    
    